.JMap-Amenity {
    margin-left: -9px !important;
    margin-top: -4px !important;
}
.JMap-youarehere img{width:25px !important;height:25px !important;}
.marching-ants {
  stroke-dasharray: 4;
  animation-name: marching;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes marching {
  to {
    stroke-dashoffset: -1000;
  }
}
.displayAmenity {
    text-align: center;
}
.displayAmenity svg {
    width: 65px;
    height: 65px;
    border-radius: 34px;
}
.displayAmenity svg .Background {
    fill: #5f91af;
    padding: 40px;
}
.displayAmenity svg .Foreground {
    fill: #fff;    
}
.BackgroundRed svg .Background {
    fill: #CF344F !important;
    padding: 40px;
}
.BackgroundRed svg .Foreground {
    fill: #ffffff !important;
}
.floor-landmarks svg {
    /* width: 30px !important; */
    /* height: 30px !important; */
     border-radius:15px !important; 
     opacity:0.80 !important; 
}

.active-landmarks svg {
   width: 30px !important; 
   height: 30px !important;
   border-radius:15px !important; 
   opacity:0.80 !important; 
}


.markerDialogue {z-index:9999;}
.JMap-inlayLabel {
    font-size: 0.8em !important;
    color:#666666;
}
.noResultTxt {
    color: red;
    text-align: center;
}
/*#main,
#container {
	height: 100%;
	margin:0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#main{padding-top: 100px;}
#container{position: relative;}*/
