* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


.clearfix{ clear: both; }

#container{
  width: 320px;
  margin: 0 auto;
}



#parentHorizontalTab ul{
    margin: 0px;
    padding: 0px;
    background-color: #58798e;
}

.resp-tabs-list li {
    color: #fff;
    display: table-cell;
    padding: 10px 0px;
    width: 5%;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}


.resp-tab-content {
    display: none;
    padding: 5px 15px;
}

}
.resp-tab-active {
  border: 1px solid #8ab6d1 !important;
  border-bottom: none;
  margin-bottom: -1px !important;
  border-bottom: 0px #8ab6d1 solid !important;
  background-color: #8ab6d1 !important;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
  background-color: #8ab6d1;
  color: #fff;
}


.toggle-menu{
  float: left;
  margin-right: 30px;
  padding: 25px 0px 20px 15px; 
  width: 15%;
}

.menu-text{
  padding-top: 5px;
  font-weight: 600;
  font-size: 10px;
  font-family: sans-serif;
}


/*search-text*/

.search-text{
  border-bottom: 1px solid #f5f5f5;
}

.search-text input{
  background-color: #8ab6d1;
  border: 1px solid #8ab6d1;
  color: #fff;
  outline: 0 none;
  overflow: hidden;
  padding: 0 0 15px;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    opacity: 1;
}



.search-list{
  padding: 15px 0 0;
}




/*selected-data*/

.selected-data{
  /*border: 1px solid red;*/
}

.product-text{
  float: left;
  width: 64%;
}

.main-text{
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-text{
  font-size: 11px; 
  font-weight: normal;
  padding-top: 3px;
}

.level-detail{
  font-size: 11px; 
  padding-top: 15px;
}

.contact{
  float: left;
  width: 165px; 
  position: absolute;
  right: 0;
}

.call-now{
  cursor: pointer;
  float: left;
  padding-right: 20px;
  text-align: center; 
}
.call-now span{
  font-size: 9px;
  display: block;
  padding-top: 12px;
}

.get-direction{
  cursor: pointer;
  float: left;
  text-align: center;
}
.get-direction span{
  font-size: 9px;
  display: block;
  padding-top: 12px;
}


/*location-details*/

.loc-container{
  float: left;
  width: 77%;
  /*border: 1px solid blue;*/
}

.start-location ul{
  list-style: none;
  background-color: #8ab6d1 !important;
  /*border: 1px solid red;*/
  position: relative;
  
}

/*.start-location ul li{
 display: inline-block;
 float: left;
}*/

.start-location ul li input{
  background-color: #8ab6d1;
  border: 1px solid #8ab6d1;
  color: #fff;
  outline: 0 none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding-bottom: 10px;
  width: 100%;
}

.start-location ul li{ margin-left: 30px; }

.start-location ul li:first-child{
	border-bottom: 1px solid #c5dbe8;
}

.start-location ul li:last-child{
	margin-top: 10px;
}

.start-location ul li:first-child:before{
	background-image: url('../images/location-mobile.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 24px;
	content: '';
	position: absolute;
	left: 0;
}

.start-location ul li:last-child:before{
	background-image: url('../images/end2.png');
	background-repeat: no-repeat;
	background-position: 1%;
	content: '';
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
}

.end-loaction{
  margin-top: 10px;
}

.end-loaction ul li input{ border: none; }

.result-path{
    padding: 5px 0;
    position: absolute;
    right: 0;
    width: 85px;
    padding: 0;
}

.result-path ul{
  list-style: none;
}

.result-path ul li:first-child{ padding: 13px 10px 12px 0px; }

.result-path ul li:last-child{ padding: 8px 0px 8px 0px; }

.result-path ul li{
  display: inline-block;
  float: left;
  cursor: pointer;
}


/*loc-result*/

.abc{
  /*border: 1px solid white;*/
  width: 80%;
  float: left;
}


.loc-result{
  position: relative;
}

.start-end-result{
  /*border: 1px solid blue;*/
  position: relative;
}

.start-end-result ul{
  list-style: none;
  position: relative;
  background-color: #272727 !important;
}

.start-end-result ul li{
  display: inline-block;
}

.start-end-result ul li:first-child{
  padding-left: 10px;
}


.start-end-result ul li:last-child{
  position: absolute;
  right: 30px
}

.moving-arrow{
  border: 2px solid red;
  position: absolute;
  width: 64%;
  top: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.cotegories{
  float: left;
}

/*.selected-loc{
}
*/
.selected-loc ul{
  list-style: none;
  background-color: #272727 !important;
}

.selected-loc ul li{
  display: inline-block;
  /*border: 1px solid red;*/
  text-align: center;

}

.selected-loc ul li span{
  display: block;
}

.selected-loc ul li.category{
  font-size: 11px;
}

.selected-loc ul li input{
  padding: 5px 12px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}

.selected-loc ul li input:hover{
  background-color: #8ab6d1;
}


.rest{
  border-left: 1px solid #ffffff;
  float: right;
  padding: 7px 12px 10px;
  cursor: pointer;
  width: 15%;
}


/*slider*/

.slider{
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  color: #6c6c6c;
}

#instruction-container .item img{
    display: block;
    width: 100%;
    height: auto;
}

.slider #instruction-container .owl-wrapper-outer .owl-item{ 
	padding: 0px 25px;
} 

.slider #instruction-container .owl-controls .owl-nav .owl-prev{ 
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;
 } 

 .slider #instruction-container .owl-controls .owl-nav .owl-next{ 
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
} 



/*attractions*/

.attractions{ padding: 0; }

.attractions ul{
  list-style: none;
  background-color: #272727 !important;
  position: relative;
}

.attractions ul li{
  display: table-cell;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  width: 10%;
  position: relative;
}

.attractions ul li:first-child:before{
	content: " ";
	height: 70%;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	width: 2px;
}

.attractions ul li:last-child:before{
	content: " ";
	height: 70%;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	width: 2px;
}

.attractions ul li span{
  display: block;
  font-size: 9px;
  color: #fff;
  padding-top: 7px;
}


.attractions ul li:hover {
  background-color: #8ab6d1;
}



/*Amenities*/

#amenities{
  padding: 20px 25px 10px;
}

#amenities .item{
    padding: 0px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

#amenities .owl-pagination{ display: none; }

#amenities .owl-controls .owl-nav div{ background: none; }

#amenities .owl-nav .owl-prev{
  position: absolute; 
  left: -5px;
  top: 22px;
}

#amenities .owl-nav .owl-next{
  position: absolute; 
  right: -5px;
  top: 22px;
}

#amenities .owl-carousel  .owl-wrapper, .owl-carousel  .owl-item{ text-align: center; }




/*drop*/

.drop-text{
	width: 90%;
	float: left;
	cursor: pointer;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.drop-icon{
  width: 10%;
  float: left;
  text-align: right;
  cursor: pointer;
}



/*dropdown-text*/


.dropdown-text{
 background: #fff;
 height: calc(100vh - 270px);
 }

.drop-heading{
 text-align: center;
 padding: 15px 0px 5px;
 color: #999999;
}

.dropdown-text ul{ 
 list-style: none;
 padding: 0;
 margin: 0;
}

.dropdown-text ul li{ 
  border-bottom: 1px solid #dedede !important;
  padding: 10px 22px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid;
  width: 100%;
  border: none;
  cursor: pointer;
  color: #666666;
}

.dropdown-text ul li:hover{ 
  background-color: #58798e;
  color: #fff !important;
}

.dropdown-text ul li:last-child{ 
 border-bottom: none !important;
}

.categories{
  float: left;
  width: 88%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 5px;
}

.categories-image {
  border: 1px solid #898989;
  float: right;
  /*width: 10%;*/
  border-radius: 33px;
  font-size: 12px;
  padding: 5px;
  background: #898989;
  color: #fff;
  text-align: center;
}


/*footer*/

.footer{
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 999;
  width: 215px;
}

.footer ul{
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.footer ul li{
  background-color: #8ab6d1;
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.footer ul li:hover{
  background-color: #000;
}



/*info*/

.info{
  position: relative;
  z-index: 1;
}

.info-icon{
  position: fixed;
  right: 10px;
  bottom: 5px;
  bottom: 0;
  cursor: pointer;

}




/*alert-box*/

.alert-box{
  position: absolute;
  background-color: #444444;
  bottom: 0;
  width: 320px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index:1000;

}

.alert-msg{
  font-size: 12px;
  color: #fff;
  padding: 15px 30px 15px 10px;
}

.alert-box .close{
  position: absolute;
  background-color: #000;
  /*padding: 7px 8px 4px;*/
  top: 0;
  right: 0;
  cursor: pointer;
}



/*error-box*/

.error-box{
  background-color: #272727;
  left: 0;
  margin: 0 auto;
  padding: 20px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 275px;
  z-index:9;
}

.error-msg{
  color: #fff;
  font-size: 15px;
  padding: 20px 0;
}

.error-box .floor input{
  padding: 8px 20px;
  border: 1px solid #769ab0;
  background-color: #769ab0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.error-box .close{
  position: absolute;
  background-color: #000;
  padding: 0px 3px;
  top: 0;
  right: 0;
  cursor: pointer;
}


/*category-drop*/

.category-drop{
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
  z-index: 1;
  top: 190px;
}

.category-drop ul{
  background: #fff none repeat scroll 0 0;
  border: 1px solid #272727;
  /*height: 350px;*/
  list-style: outside none none;
  overflow-y: scroll;
  padding: 0;
  transition: all 0.5s ease-in 0s;
  height:250px;
}

.category-drop ul li{
  padding: 0 15px;
}

.category-drop ul li:hover{
	background-color: #58798e;
}

.category-drop ul li:hover a{
	color: #fff;
}


.category-drop ul li a{
  color: #666666;
  display: block;
  padding: 5px 0;
  text-decoration: none;
}







@media only screen and (min-width: 320px) and (max-width: 1024px){
    #container{ width: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 550px){
.slider #instruction-container .owl-wrapper-outer .owl-item{ padding: 0px 35px; }
}

@media only screen and (min-width: 320px) and (max-width: 449px){

    .product-text{ width: 51%; }

    .product-text .main-text{ font-size: 16px; }

    .call-now{ padding-right: 20px; }

}

@media only screen and (min-width: 449px){

    .product-text .main-text{ font-size: 20px; }

    .product-text .sub-text{ font-size: 13px; }

    .product-text .level-detail{ font-size: 16px; }

    .contact{ width: 188px; }

    .contact span{ font-size: 12px; font-weight: bold; padding-top: 18px; }

    .result-path{ margin-right: 25px; }

}


.clear{
	width: 80%;
	text-align: center;  
	 position: relative;
    top: 10px;
    padding-bottom: 15px;
}

.clear input{
	border: 1px solid #f5f5f5;
	background-color: transparent;
	text-align: center;
	padding: 5px 15px;
	border-radius: 21px;
    cursor: pointer; 
    color: #f5f5f5;
}






.diversion{
  position: absolute;
  left: 23%;
}

.route2{
  left: 35%;
}

.end-route{
  float: left;
  /*border: 1px solid red;*/
  text-align: center;
}

.end-route2{ position: absolute; right: 0; }
/ Breadcrub Nav /

.moe_breadcrumb{
 position: relative;
}

.moe_route_holder{
	position: relative;
}

.direction-map .moe_route_holder .moe_route_line{
 position: absolute;
 height: 2px;
  width: 93%;
  border-top: 2px solid #d82d4b;
  top: 26px;
  left: 3%;
}

.direction-map .moe_start_breadcrumb{
 background-image: url("../images/end-location-mob.png");
 right: 0;
}
.direction-map .moe_end_breadcrumb{
 background-image: url("../images/start-location-mob.png");
}

.direction-map .moe_route_icon {
    position: absolute;
    padding: 5px;
    width: 30px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8px;
    cursor: pointer;
    text-align: center;
}

.direction-map .moe_route_icon > span{
 position: absolute;
 bottom: -20px;
 left: 0;
 width: 100%;
 font-size: 1.14rem;
 font-weight: bold;
  color: #d82d4b;
}


.direction-map .moe_mover_icon img {
    height: 30px;
    width: 30px;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    / border-radius: 50%; /
    padding: 5px;
    position: relative;
    /*bottom: 8px;*/

}
.direction-map .moe_route_arrows {
  position: absolute;
    height: 20px;
    width: 90%;
    top: 17px;
    left: 5%;
    border: 0;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-animation: animate 3s infinite;
    -webkit-animation-timing-function: linear;
    animation: animate 3s infinite;
    animation-timing-function: linear;
    -moz-animation: animate 3s infinite;
    -moz-animation-timing-function: linear;
    -ms-animation: animate 3s infinite;
    -ms-animation-timing-function: linear;
}
.direction-map #moe_mover_icon1,#moe_mover_icon2,#moe_mover_icon3,#moe_mover_icon4,#moe_mover_icon5,#moe_mover_icon6{
 top: 18px;
 position: absolute;
 display: none;
}
.direction-map .moe_pulse_effect {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -ms-animation: pulsate 1s ease-out;
    -ms-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}


@-webkit-keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@-ms-keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@-moz-keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.9, 0.9);
    }
    50% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
    }
}
@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.9, 0.9);
    }
    50% {
        -moz-transform: scale(1, 1);
    }
    100% {
        -moz-transform: scale(0.9, 0.9);
    }
}
@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(0.9, 0.9);
    }
    50% {
        -ms-transform: scale(1, 1);
    }
    100% {
        -ms-transform: scale(0.9, 0.9);
    }
}
@keyframes pulsate {
    0% {
        transform: scale(0.9, 0.9);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.9, 0.9);
    }
}
.close-map{  position: fixed;
  left:0;
  bottom: 0;
  cursor: pointer;
  padding: 8px;background-color:#000;z-index:1;
}