@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  border: none;
  width: 100%;
}
body {
  align-items: center;
}
.clearfix{ clear: both; }

.tabs {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
  width: 32%;
}

.services{
	font-family: 'gotham_mediumregular',arial,sans-serif;
}

.tabs nav {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  color: #fff;
  width: 100px;
  height: 100%;
  font-size: 10px;
}

.tabs nav a {
  padding: 25px 0px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  background: #418bb7;
}

.tabs nav a.selected {
  background: #75b7dd;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tabs .content {

  padding: 0px;
  position: absolute;
  top: 0px;
  left: 100px;
  color: #6C5D5D;
  width: 78%;
  height: 100%;
  /*overflow: hidden;*/
  /*opacity: 0;*/
  /*display:none;*/
  transition: opacity 0.1s linear 0s;
  z-index:9999 !important;
}

.tabs .content.visible {
  padding: 0;
  width: calc(100% - 100px);
  opacity: 1;
  z-index: 1;
}

.tabs .content p { padding-bottom: 2px; }

.tabs .content p:last-of-type { padding-bottom: 0px; }

.tabs nav {
  display: block;
  background: #418bb7;
}
.tabs nav a{
  float: left;
  display: block;
}
.map.menuLink{
  position: absolute; bottom: 0; width: 100px;left: 0; z-index: 1;
}

.menuLink img{
	    width: 50px;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #8e8e8e;
	opacity: 1;
	font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #8e8e8e;
    opacity: 1;
    font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #8e8e8e;
    opacity: 1;
    font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
    color: #8e8e8e;
    opacity: 1;
    font-weight: bold;
}

/*Search*/

.search-bg{
  background-color: #75b7dd;
  padding: 30px 33px 18px;
}

.searchbox{
  padding-bottom: 20px;
  border-bottom: 1px solid #a2c4da;
  text-align: center;
}

.searchbox input:focus
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.searchbox input {
  background-color: #fff;
  width: 265px;
  border-radius: 20px;
  border: 1px solid #fff;
  height: 30px;
  padding: 0 20px;
  color: #8e8e8e;
  outline: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}



.selectbox{
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #8e8e8e;
  cursor: pointer;
  /*font-weight: bold;*/
  outline: medium none;
  padding: 5px 22px 5px 5px;
  position: relative;
  width: 265px;
  margin: 25px auto 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.selectbox span{
  padding-left: 15px;
  font-size: 15px;
  white-space: nowrap;
}

.selectbox:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 10px 6px 0 6px;
    border-style: solid;
    border-color: #8e8e8e transparent;
}


.drop{
  width: 270px;
  margin: 0 auto;
  position: absolute;
  height: 350px;
  overflow-y: scroll; 
  z-index: 999;
  left: 0;
  right: 0;
  overflow-y: visible;
}


.drop ul::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
}

.drop ul::-webkit-scrollbar
{
  width: 5px;
}

.drop ul::-webkit-scrollbar-thumb { height: 10px; background-color: #9CC1D7; border-radius: 3px;}



.drop ul {
    background: #fff none repeat scroll 0 0;
    transition: all 0.5s ease-in 0s;
    padding: 5px 0px 5px 0px;
    overflow-y: scroll;
    height: 350px; 
    list-style: none;
    border: 1px solid #272727;
}

.drop ul li{ padding: 0 15px; }

.drop ul li:hover{ background-color: #85B4CF; }

.drop ul li a {
    color: #666666;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}

.drop ul:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: -10px;
	right: 19px;
	border-width: 0 6px 10px 6px;
	border-style: solid;
	border-color: #000000 transparent;
}





/*get-direction*/

.get-direction{
  margin: 0 auto;
  width: 270px;
}

.get-direction span{
  color: #fff;
  font-size: 22px;
  padding-left: 15px;
  vertical-align: top;

}

.start-location{
  color: #fff;
  font-size: 15px;
  padding: 10px 0 7px;
}

.searchbox-loc{ padding: 0px }



.searchbox-loc input {
  background-color: #fff;
  width: 260px;
  border-radius: 20px;
  border: 1px solid #fff;
  height: 30px;
  padding: 0 20px;
  color: #8e8e8e;
  outline: 0;
  text-overflow: ellipsis;
  font-weight: bold;
}
.searchbox-loc input:focus
{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

 .destination{
  padding: 10px 0 6px;
}

.destination .dest-loc{
  width: 50%;
  float: left;
  color: #fff;
  font-size: 15px;
  padding-top: 7px;
}

.destination .dest-img{
  width: 50%;
  float: left;
  text-align: right;
  cursor: pointer;
}

.go-btn{ padding: 14px 0 0; }

.go-btn input{
  border: 1px solid #fff;
  padding: 8px 25px;
  border-radius: 21px;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  background-color: #fff;
  color: #000;
}

.go-btn input:hover{
  background-color: #5f91af;
  border: 1px solid #5f91af;
  color: #fff;
}


/*amenities*/

.amenities-sec{
  width: 110px !important;
  height: 100%;
  background: #75b7dd !important;
}

.amenities-sec ul li a{ text-decoration: none; }

.amenities-sec ul{
  list-style: none;
  text-align: center;
  padding: 0px 20px;
  margin: 0;
  margin-top:10px;
}

.amenities-sec ul li{
  padding-bottom: 25px;
}

.amenities-sec .am-text{
  font-size: 12px;
  color: #fff;
  padding-top: 8px;
  line-height: 15px;
font-family: 'gotham_mediumregular',arial,sans-serif;  
}


/*about-map*/

.about-map{
  background-color: #8ab6d1;
  color: #fff;
  font-size: 12px;
  padding: 18px 25px;
  position: absolute;
  bottom: 0;
  line-height: 14px;
}

/*floor-levels*/

.floor-levels {
  height: 45px;
  left: 0;
  margin: 0 auto;
  padding-top: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}

.floor-levels ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.floor-levels ul li{
  display: inline-block;
  background-color: #75b7dd;
  padding: 10px 18px;
  margin-right:5px;
}
.floor-levels ul li.selected{
    background-color:#000000;
}
.floor-levels ul a{
  text-decoration: none;
  color: #fff;
  font-family: 'gotham_mediumregular',arial,sans-serif;
}





/*alert-box*/

.alert-box{
  background-color: #252525;
  font-size: 18px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 200px;
  width: 415px;
  color: #fff;
}

.alert-box input{
  border: 1px solid #85B4CF;
  background-color: #85B4CF;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 13px;
}

#amenityPopClose{
  cursor: pointer;
  position: absolute;
  right: 0;
}


.alert-box p{
  padding: 40px 25px 8px;
}


#amenityFloorList{
  text-align: center;
  padding-bottom: 25px;
}



/*close-btn*/

.close-btn{
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px;
  background-color: #000;
}

.customDim{
	width: 66px;
    height: 65px;
}

/*accessible-path*/

.accessible-path{
  width: auto;
  position: absolute;
  right: 0;
  padding: 14px 7px;
  background-color: #408fc7;
  text-align: center;
  bottom: 0;
  cursor: pointer;
  color: #ffffff;
  opacity:0.85;
}
.accessible-path.active{background-color:#FF8A00 !important;}



/*direction-details*/

.direction-details{
  width: 100px;
}

.direction-box{
    border-left: 5px solid #d72343;
    position: fixed;
    /*right: 100px;
    top: 270px;*/
    width: 267px;
    margin-left:10px;
    margin-top:-10px;
}

.direction-details img{
  float: right;
}


.direction-details{
width:262px;
height:auto; /*min height of DIV should be set to at least 2x the width of the arrow*/
background: #fff;
color:black;
position:relative;
word-wrap:break-word;
padding-left: 15px;
/*border-left: 1px solid #D72343;*/
}


.direction-details:after{ /*arrow added to leftarrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:20px;
left:-35px; /*should be set to -border-width x 2 */
width:0;
height:0;
border-color: transparent #D72343 transparent transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 8px 15px;
}

/*.address{
}
*/

.ad-text{ padding-top: 10px; }

.level{
  padding: 20px 0 15px;
  color: #7f7f7f;
  font-size: 15px;
}

.level span{ padding-left: 12px; }

.contact{ background-color: #EBEBEB; }

.address p:first-child{
  padding-top: 15px;
  font-weight: bold;
  color: #000;
  font-size: 22px;
 }

 .address p:nth-child(2){
  color: #7f7f7f;
  font-size: 15px;
 }

.contact .contact-number{
  float: left;
  text-align: left;
  padding: 15px 0px 15px 15px;
  width: 48%;
  font-size: 21px;
}

.contact .contact-img{
  float: right;
  text-align: right;
  padding: 15px 15px 12px 15px;
  width: 48%;
}



.map-direction{ background-color: #464646; }

.map-direction .map-text a{
  text-decoration: none;
  color: #ffffff;
}

.map-direction .map-text{
  float: left;
  text-align: left;
  padding: 15px 0px 15px 15px;
  width: 70%;
  font-size: 20px;
  color: #fff;
}

.map-direction .map-img{
  float: right;
  text-align: right;
  padding: 15px 15px 12px 15px;
  width: 30%;
}


.bg-map{
    bottom: 0;
    left: 100px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}



/*search-result*/


.search-result{
 background: #fff;
 height: calc(100vh - 180px);
}

.search-heading{
 text-align: center;
 padding: 15px 0px 5px;
 color: #999999;
}

.search-result ul{ 
 list-style: none;
 padding: 0;
 margin: 0;
}

.search-result ul li{ 
  border-bottom: 1px solid #dedede !important;
  padding: 10px 22px;
  display: table;
  width: 100%;
  border: none;
  cursor: pointer;
   font-family: 'gotham_mediumregular',arial,sans-serif;
}

.search-result ul li:hover{ 
  background-color: #85B4cf;
  color: #fff !important;
}

/*.search-result ul li .search-text:hover{ 
  color: #fff !important;
}*/

.search-result ul li:last-child{ 
 border-bottom: none;
}

.search-text{
  float: left;
  /*color: #666666;*/
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 5px;
}

.search-image {
  border: 1px solid #898989;
  float: right;
  width: 10%;
  border-radius: 33px;
  font-size: 12px;
  padding: 5px;
  background: #898989;
  color: #fff;
  text-align: center;
}


/*zoom-btn*/

.zoom-btn{
  position: fixed;
  top: 45%;
  right: 20px;
}

.zoom-btn a{ text-decoration: none; color: #000; }

.zoom-out{
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background-color: #fff;
  margin-bottom: 2px;
  box-shadow: 0px 0px 6px #888;
}


.zoom-in{
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0px 0px 6px #888;
}



/*zoom-btn-red*/


.zoom-red{ background-color: #E12726;color:#fff; }


/*footer*/

.footer {
  /*border: 1px solid red;*/
  position: fixed;
  bottom: 0;
  background: rgba(255,255,255,0.55);
  right: 0;
  width: 92.5%;
  margin: 0 auto;
  height: 103px;
}

.path{
  /*border: 1px solid blue;*/
  margin: 0 auto;
  width: 54%;
  padding: 0 0 20px 0;
  position: relative;
}


.start-route{
  float: left;
  /*border: 1px solid red;*/
  text-align: center;
}

.start-point{
  padding-top: 5px;
  color: #d72c49;
}

.start-lvl{
  color: #6d6d6d;
}

.route-line {
    position: absolute;
    height: 2px;
    width: 84%;
    border-top: 3px solid #d72c49;
    top: 35%;
    left: 8%;
    z-index: -1;
}

.route-arrows {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 40px;
    left: 14.5%;    
    border: 0;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    -webkit-animation: mymove 0.1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes mymove {
    from {left: 70px;}
    to {left: 625px;}
}

@keyframes mymove {
    from {left: 70px;}
    to {left: 625px;}
}*/



.diversion{
  position: absolute;
  left: 23%;
}

.route2{
  left: 35%;
}

.end-route{
  float: left;
  /*border: 1px solid red;*/
  text-align: center;
}

.end-route2{ position: absolute; right: 0; }
/* Breadcrub Nav */

.moe_breadcrumb{
	position: relative;
}

.moe_route_holder .moe_route_line{
	position: absolute;
	height: 2px;
  width: 89%;
  border-top: 2px solid #d82d4b;
  top: 31px;
  left: 7%;
}

.moe_start_breadcrumb{
	background-image: url("../images/dest.png");
	right: 0;
}
.moe_end_breadcrumb{
	background-image: url("../images/start.jpg");
}

.moe_route_icon {
    position: absolute;
    padding: 5px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1px;
    cursor: pointer;
    text-align: center;
}

.moe_route_icon > span{
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	font-size: 1.14rem;
	font-weight: bold;
  color: #d82d4b;
}


.moe_mover_icon img {
    height: 55px;
    width: 55px;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    /* border-radius: 50%; */
    padding: 5px;
    position: relative;
    bottom: 8px;

}
.moe_route_arrows {
  position: absolute;
    height: 26px;
    width: 90%;
    top: 19px;
    left: 5%;
    border: 0;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-animation: animate 3s infinite;
    -webkit-animation-timing-function: linear;
    animation: animate 3s infinite;
    animation-timing-function: linear;
    -moz-animation: animate 3s infinite;
    -moz-animation-timing-function: linear;
    -ms-animation: animate 3s infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@-ms-keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
@-moz-keyframes animate {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.9, 0.9);
    }
    50% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
    }
}
@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.9, 0.9);
    }
    50% {
        -moz-transform: scale(1, 1);
    }
    100% {
        -moz-transform: scale(0.9, 0.9);
    }
}
@-ms-keyframes pulsate {
    0% {
        -ms-transform: scale(0.9, 0.9);
    }
    50% {
        -ms-transform: scale(1, 1);
    }
    100% {
        -ms-transform: scale(0.9, 0.9);
    }
}
@keyframes pulsate {
    0% {
        transform: scale(0.9, 0.9);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.9, 0.9);
    }
}
#moe_mover_icon1,#moe_mover_icon2,#moe_mover_icon3,#moe_mover_icon4,#moe_mover_icon5,#moe_mover_icon6{
	top: 12px;
	position: absolute;
	display: none;
}
.moe_pulse_effect {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -ms-animation: pulsate 1s ease-out;
    -ms-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
/** Instruction PopUp**/
.moe_instruction{	
  color: #333;
  position: absolute;
  top: 170px;
  right: 20px;        
  width:240px;
  max-width: 240px;
  height:auto;
  z-index: 999;    
   
    
    
}

.moe_instruction_scroll{
	position: fixed;
  bottom: 140px;
  padding: 5px 30px 5px 25px;
  max-height: 300px;
  width: 18%;
  overflow-y: scroll;
  background-color: #fff;
  opacity: 0.80;
  right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.50);
  -moz-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.50);
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.50);
}

.moe_instruction_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
}

.moe_instruction_scroll::-webkit-scrollbar
{
  width: 5px;
}

.moe_instruction_scroll::-webkit-scrollbar-thumb { height: 10px; background-color: #000; border-radius: 3px;}



.moe_instruction p,
.moe_instruction li{
	font-size: 1rem;
	color: #333;
}

.moe_instruction ol{
	list-style-type: decimal;
}
.moe_instruction .moe_si_floor{
	font-size:1.1em;
	font-weight:bold;
	border-bottom:solid 1px #60504d;
	margin-bottom:10px;
}

.moe_instruction_close{
  background: rgba(0, 0, 0, 0) url("../images/window.png") no-repeat scroll center center / 20px auto;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 6px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    z-index: 1;
}



/*replay-button*/

.replay-button{
  position: absolute;
  right: 116px;
  width: 116px;
  height: 101px;
  bottom: 0;
  text-align: center;
  background: #ef3e31;
  padding: 12px 0;
  color: #ffffff;
  cursor: pointer;
  opacity:0.85;

}

.replay-button img{ text-align: center; }

.replay-button input{
  border: 1px solid #9e9a9a;
  border-radius: 20px;
  text-align: center;
  color: #9e9a9a;
  font-size: 15px;
  padding: 5px 20px;
  background: transparent;
  cursor: pointer;
}

.replay-button input:hover{ background-color: #85B4CF; color: #fff; } 

.replay-button input:focus{
  outline: none;
  box-shadow: none;
}
.moe_instruction_min { 
  display: none; 
  border: 1px solid #60504d;
  line-height: 30px;
  padding: 0 37px 0 12px;
  position: absolute;
  width: auto;
  font-size: 14px;
  font-weight:bold;
  text-transform:uppercase;
  color: #60504d;
  background: url("../images/window-max.png") #fff 96% center no-repeat;
  cursor: pointer;  
    -webkit-background-size: 20px;
  -moz-background-size: 20px;
  -o-background-size: 20px;
  background-size: 20px;
  z-index: 9999;
  -webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
right:0;
bottom:103px;

}