/*---------------Loading Screen-------------*/
#loadingScreen {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #ccc;
  font-family: Corbel, Verdana, sans-serif;
  font-size: 32px;
}
.loadDisappear {
  -webkit-animation: loaddisappear 1.0s;
  animation: loaddisappear 1.0s;

  animation-delay:1s;
  -webkit-animation-delay:1s;
  
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(1.0) }
  40% { -webkit-transform: scale(0.6) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}*/
@keyframes loaddisappear {
    from {opacity:1;display:block;}
    to {opacity:0;display:none;z-index:-99;}
}
@-webkit-keyframes loaddisappear /* Safari and Chrome */ {
    from {opacity:1;display:block;}
    to {opacity:0;display:none;z-index:-99;}
}
@media only screen and (max-width: 767px) {
  #loadingScreen {
    font-size: 20px;
  }
}
#loadingScreen {} .loadingBG {
    background-size: cover;
    background-position: center;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    /*background-color: #000;*/
    background-image:url("../images/mallofemiratessplashscreen.jpg");
}
#loadingMessage {
    margin: auto;
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
}
#loadingMessage IMG {
    height: 100%;
    max-height: 400px;
    height: auto;
    width:100%;
    max-width:300px
}
#loadMessageText {
    width: 60%;
    margin: 0px auto;
    text-shadow: 1px 1px rgba(9, 9, 9, 1);
}
.loaderAnim {
    width: 100%;
    height: 64px;
    margin: 14px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../images/ajax_loader_red.gif");
}